<h1>Ask Your Question</h1>
<form action="/answer" method="get">
  <input type="text" name="question"  value="<%= params[:question] %>" placeholder="Input your question">
  <input type="submit" value="Ask!">
</form>